<?xml version="1.0"?>
<!--
/**
 * Config
 *
 * XML version 1
 *
 * @category  Bleumi
 * @package   Bleumi_BleumiPay
 * @author    Bleumi Pay <support@bleumi.com>
 * @copyright 2020 Bleumi, Inc. All rights reserved.
 * @license   MIT; see LICENSE
 * @link      http://pay.bleumi.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bleumipaymethod>
                <model>Bleumi\BleumiPay\Model\BleumiPayMethod</model>
                <title>Bleumi Pay Digital Currency Payments for Magento 2</title>
                <active>0</active>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </bleumipaymethod>
            <!-- payment-config -->
        </payment>
    </default>
</config>
